[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/akshit-mee/Universal_Robots_ROS_Driver
[submodule "Geomagic_Touch_ROS_Drivers"]
	path = Geomagic_Touch_ROS_Drivers
	url = https://github.com/akshit-mee/Geomagic_Touch_ROS_Drivers
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/akshit-mee/universal_robot.git
